
.App{
  width: 100vw;
  background-color:#f7f7f7;
}
.container{
margin-left:1em;
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: 1fr 3fr 1fr ;
  grid-template-rows: 2fr 1fr 1fr;
  background-color:#f7f7f7;


}
.sidebar{
  grid-column:1/2;
  grid-row:1/5;
  margin-left: 1px;
  width: 20vw;
  background-color: #1f3044;
  color: white;

}
.mapstate{
  grid-column:2/3;
  grid-row: 1/2;
  margin-left: 2em;
  width: 60vw;
}

.cardgraphs{
  grid-column: 2/3;
  grid-row:3/5;
}
